.tournament-start-date, .tournament-end-date, .tournament-date-separator {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
}

.recent-games-list {
  max-width: 1000px;
  margin: 12px auto;
}

.recent-tournament {
  margin-top: 8px;
  margin-bottom: 8px;
}
