<div id="password-container" class="password-container">
  <h1 mat-dialog-title align="center" class="password-title">Change Password</h1>
  <form [formGroup]="changePwForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content align="center" class ="changePwForms">
      <mat-form-field class="currentPw form-group textBox">
        <input id="current-password" name="currentPw" formControlName="currentPw" matInput placeholder="Current Password" class="textBox" [type]="hide? 'password' : 'text'" [ngClass]="{ 'is-invalid': submitted && f.currentPw.errors }">
        <mat-error *ngIf="submitted && !!f.currentPw.errors" class="invalid-feedback">
          <div *ngIf="!!f.currentPw.errors.required">Current Password Required</div>
          <div *ngIf="!!f.currentPw.errors.error">Incorrect Current Password</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="password form-group textBox">
        <input id="newpassword" name="password" formControlName="password" matInput placeholder="New Password" class="textBox" [type]="hide ? 'password' : 'text'" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="submitted && !!f.password.errors" class="invalid-feedback">
          <div *ngIf="!!f.password.errors.required">Password is required</div>
          <div *ngIf="!!f.password.errors.minlength">Password must be at least 8 characters</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="confirm form-group textBox">
        <input id="confirmpassword" formControlName="confirmPassword" name="confirmPassword" matInput placeholder="Confirm New Password" class="textBox" [type]="hide ? 'password' : 'text'" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
        <mat-error *ngIf="submitted && !!f.confirmPassword.errors" class="invalid-feedback">
          <div *ngIf="!!f.confirmPassword.errors.required">Confirm Password is required</div>
          <div *ngIf="!!f.confirmPassword.errors.mustMatch">Passwords must match</div>
        </mat-error>
      </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="center" class="buttons form-group" [formGroup]="changePwForm">
      <button id="password-cancel" mat-button matDialogClose type="button" class="cancel-button" >Cancel</button>
      <button id="password-submit" mat-raised-button color="accent" type="submit" [disabled]="disabled" class="resetBtn">Change Password</button>
      <strong style="color:red;">{{ error }}</strong>
    </mat-dialog-actions>
  </form>
</div>
