mat-card-subtitle {
  margin: 8px;
  font-size: 1.2em;
}

mat-form-field {
  display: block;
  margin-bottom: 8px;
}

button {
  display: inline-block;
  width: 160px;
  margin: 8px;
}

a {
  margin: 8px;
  display: block;
}
