<mat-card-subtitle>Reset Password</mat-card-subtitle>
<form class="forgotForms" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="form-group">
    <input matInput name="code" formControlName="code" placeholder="Reset Code"
      [ngClass]="{ 'is-invalid': submitted && f.code.errors }" />
    <mat-error *ngIf="submitted && !!f.code.errors">
      <div *ngIf="!!f.code.errors.required">Incorrect Code</div>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-group">
    <input matInput name="password" formControlName="password" placeholder="New Password"
      [type]="hide ? 'password' : 'text'" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
    <mat-icon matSuffix (click)="hide = !hide">{{
      hide ? 'visibility_off' : 'visibility'
    }}</mat-icon>
    <mat-error *ngIf="submitted && !!f.password.errors">
      <div *ngIf="!!f.password.errors.required">Password is required</div>
      <div *ngIf="!!f.password.errors.minlength">
        Password must be at least 8 characters
      </div>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form-group">
    <input matInput formControlName="confirmPassword" name="confirmPassword" placeholder="Confirm New Password"
      [type]="hide ? 'password' : 'text'" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
    <mat-error *ngIf="submitted && !!f.confirmPassword.errors">
      <div *ngIf="!!f.confirmPassword.errors.required">
        Confirm Password is required
      </div>
      <div *ngIf="!!f.confirmPassword.errors.mustMatch">
        Passwords must match
      </div>
    </mat-error>
  </mat-form-field>
  <div class="buttons form-group">
    <button mat-raised-button color="primary" type="submit" [disabled]="disabled" class="resetBtn">
      Reset Password
    </button>
    <button mat-raised-button color="accent" (click)="resendCode()" type="button" [disabled]="disabled" class="codeBtn">
      Re-send Code
    </button>
  </div>
</form>

<a routerLink="/login" routerLinkActive="active">Sign In or Register</a>