mat-card-subtitle {
  margin: 8px;
  font-size: 1.2em;
}

mat-form-field {
  display: block;
  width: 400px;
  margin-bottom: 8px;
}

.tool {
  white-space: pre;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  margin: 0;
}

.errorText {
  color: red;
  justify-self: center;
}

button {
  display: block;
  margin: 16px auto;
}

a {
  display: inline-block;
  margin: 8px;
}
