.search-icon {
  vertical-align: middle;
}

img {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 4px;
  top: 6px;
}

.mat-form-field {
  width: 90%;
}

mat-option {
  padding: 0 10px;
  font-size: 0.9em;
  height: 36px;
  justify-content: center;
}
