#recent-games-text {
  margin-top: 32px;
}

.recent-games-divider {
  background-color: blue;
  width: 88%;
  height: 2px;
  max-width: 1300px;
  margin: 8px auto 32px auto;
}

.center-vertical {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
